.cart-container {
    padding: 20px;
}

.cart-items-table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

.cart-items-table th, .cart-items-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

.cart-items-table th {
    background-color: #f2f2f2;
}

.quantity-controls {
    display: flex;
    align-items: center;
}

.quantity-controls button {
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
    padding: 5px 10px;
    margin: 0 5px;
}

.remove-button {
    background-color: #dc3545;
}

.cart-summary {
    text-align: right;

}

.total-price {
    font-weight: bold;
    font-size: 24px;
}
